@import "locomotive-scroll/dist/locomotive-scroll.css";

.Home {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.heromain {
  position: relative;
  z-index: 4;
  overflow: hidden;
}
.CurveContainer {
  position: absolute;
  top: 55%;
  width: 100%;
  height: 475px;
  z-index: 3;
  overflow: hidden;
}
.curve {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 275px;
  z-index: 2;
}

.About {
  overflow: hidden;
  z-index: 2;
}
.Works {
  background-color: rgb(255, 255, 255) !important;
  height: 100vh;
}

.HorizontalScrollWrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.scrollWrapper {
  display: flex;
  width: max-content;
}

.panel {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 576px) {
  .HorizontalScrollWrapper {
    height: auto;
    overflow: visible;
  }

  .CurveContainer {
    display: none;
  }

  .scrollWrapper {
    display: block;
    width: 100%;
  }

  .panel {
    width: 100%;
    height: auto;
  }
}
