@import "locomotive-scroll/dist/locomotive-scroll.css";

.Home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.heromain {
  position: relative;
  z-index: 4;
  overflow: hidden;
}

.CurveContainer {
  position: absolute;
  top: 23%;
  width: 100%;
  height: 475px;
  overflow: visible;
  z-index: 3;
}

.curve {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 275px;
  z-index: 2;
}

.HorizontalScrollWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.scrollWrapper {
  display: flex;
  width: max-content;
}

.panel {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.About {
  overflow: hidden;
}

.Works {
  background-color: #fff;
  height: 100vh;
}

/* MOBILE */
@media (max-width: 576px) {
  .HorizontalScrollWrapper {
    height: auto;
    overflow: visible;
  }
  .CurveContainer {
    display: none;
  }
  .scrollWrapper {
    display: block;
    width: 100%;
  }
  .panel {
    width: 100%;
    height: auto;
  }
}

/* GLOBAL */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
