@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "BITSUMIS";
  src: url("../../assets/FONTS/BITSUMIS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* ensures text is visible while loading */
}

.Connect {
  color: #efefef;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.mainContainer {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstRow {
  overflow: hidden;
  height: 100%;
  width: 80%;
}

/* TEXT SECTION */

.textSection {
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textSection div p {
  margin: 0 !important;
}

.textSection div p:first-child {
  font-size: medium;
}
.textSection div p:nth-child(2) {
  font-size: 2.7em;
  font-weight: 400;
  line-height: normal;
}
.textSection div p:nth-child(2) span {
  font-family: "BITSUMIS";
  /* Fallback color for older browsers */
  color: #7319fa;

  /* Apply the linear gradient as a background image */
  background-image: linear-gradient(to right, #e27fd0, #421ba2);

  /* Clip the background to the text's shape */
  -webkit-background-clip: text;
  background-clip: text;

  /* Make the text transparent to reveal the background */
  -webkit-text-fill-color: transparent;

  font-size: 2.5em;
  font-weight: 500;
}
.textSection div p:last-child {
  font-size: 1em;
  font-weight: 200;
}

.mail {
  margin: 2em 0 0 0;
}
.mail p {
  font-size: 0.9em !important;
  color: #ffffff85;
  font-weight: 300 !important;
}
.socials {
  width: 100%;
  margin: 5em 0 0 0;
  display: flex;
}

.socials ul {
  padding: 0%;
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.socials ul li a {
  color: #fff;
}

/* FORM SECTION */

.formSection {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formMain {
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formMain form {
  font-family: "poppins", sans-serif;
  border-radius: 20px;
  padding: 5%;
  background-color: #63626241;
}

.formMain form div {
  margin-bottom: 1em;
}

form div label {
  font-size: 0.9em;
  color: #ffffffb1;
  margin-bottom: 0.5em;
}

form div label,
form div input {
  display: block;
}

select,
input {
  font-size: 16px !important;
  padding: 0.8em;
  color: #ffffff;
  height: 3em;
  width: 25em;
  border: none;
  border-radius: 20px;
  background: #3e3e3e73;
}

textarea {
  padding: 0.8em;
  color: #ffffff;
  height: 5em;
  width: 25em;
  border: none;
  border-radius: 10px;
  background: #3e3e3e73;
}

input:invalid,
select:invalid,
textarea:invalid {
  color: #ffffffb6;
  border: #ffffff83;
}
option {
  background-color: #000000;
}

form button {
  height: 2em;
  width: 10em;
  border: none;
  border-radius: 30px;
  color: #ffff;
  background: linear-gradient(to right, #df7dcf, #411ba2);
  opacity: 0.8;
  transform: translateY(-2px);
}
form button:hover {
  opacity: 10;
  box-shadow: 0px 0px 180px 0px #9917ff;
  text-transform: scale;
}

/*           MOBILE               */

@media (max-width: 576px) {
  .mainContainer {
    padding: 1em 0 0 0;
  }
  .firstRow {
    width: 100%;
  }

  .textSection {
    height: max-content;
    width: 100%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textSection div {
    padding: 0;
    width: 100%;
  }
  .textSection div p {
    margin: 0 !important;
  }

  .textSection div p:first-child {
    font-size: 1em;
  }
  .textSection div p:nth-child(2) {
    font-size: 1.7em;
    font-weight: 400;
    line-height: normal;
  }
  .textSection div p:nth-child(2) span {
    font-size: 2.5em;
    font-weight: 500;
  }
  .textSection div p:last-child {
    font-size: 0em;
    font-weight: 200;
  }

  .text p {
    width: 70%;
  }

  .mail {
    margin: 1em 0 0 0;
  }
  .mail p {
    color: #ffffff5e;
    font-weight: 200 !important;
  }
  .socials {
    margin: 1em 0 0 0;
    display: flex;
    justify-content: center;
  }

  .socials ul {
    width: 60%;
    justify-content: space-between;
  }

  /* FORM */
  .formMain {
    width: 100%;
  }
  .formMain form div {
    margin-bottom: 1em;
  }

  form div label {
    margin-bottom: 0.5em;
  }

  form div label,
  form div input {
    display: block;
  }

  select,
  input {
    padding: 0.8em;
    height: 3em;
    width: 20em;
  }

  textarea {
    padding: 0.8em;
    height: 5em;
    width: 20em;
    border-radius: 10px;
  }

  form button {
    height: 2em;
    width: 10em;
    border-radius: 30px;
  }
}
